body {
  background-color: mistyrose;
}

header {
  display: flex;
  align-items: center;
}

header h1 {
  flex: 1;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.3rem;
  transition: all 0.5s ease-in-out;
  padding: 3px;
}

nav ul li a {
  text-decoration: none;
}

.active-link {
  background-color: #fff;
  border: 2px solid chocolate;
  padding: 5px;
  border-radius: 1rem;
}

nav ul li:hover {
  filter: invert(100%);
  background-color: cadetblue;
  border-radius: 1rem;
}

nav ul span {
  margin-right: 1rem;
  font-size: 1.5rem;
  color: chocolate;
}

.display {
  width: 100%;
  height: 10%;
  background-color: rgba(128, 128, 128, 0.9);
  text-align: right;
  font-size: 200%;
  color: #fff;
}

.buttons-cont {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(5, 18%);
}

.buttons-cont > button {
  font-size: 2rem;
  border: 2px solid rgba(205, 204, 204, 0.7);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.buttons-cont > button:hover {
  filter: invert(100%);
}

.rowspan {
  grid-column: 1/3;
}

.operations {
  background-color: rgb(247, 143, 8);
  border-top: gray;
}

.calc-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.calculator {
  width: 40%;
  height: 80vh;
  margin-top: 1.7rem;
}

.error {
  color: crimson;
}

.quotes {
  color: darkmagenta;
  background-color: rgba(222, 170, 170, 0.5);
  width: 50%;
  margin: 1.3rem 0 1.3rem 0;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: all 0.5s ease-in-out;
}

.quotes:hover {
  transform: scale(1.3);
  box-shadow: 0 0 3px 3px;
}

.loading {
  font-family: monospace;
  color: darkmagenta;
  font-size: 1.5rem;
}

.home p {
  font-size: 1.4rem;
  text-align: justify;
}

@media only screen and (max-width: 500px) {
  .calc-wrapper {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .calculator {
    width: 80%;
  }
}
